<h2 data-ng-init="indexVm.queryApi()">I'm the Insta index! </h2>

<!-- Create grumble -->
<button data-ng-hide="newInsta" data-ng-click="newInsta = !newInsta">New Insta</button>
<form data-ng-show="newInsta" data-ng-submit="indexVm.create(); newInsta = !newInsta">
  <input placeholder="Photo Url" data-ng-model = "indexVm.newInsta.photo_url" />
  <input placeholder="Author name" data-ng-model = "indexVm.newInsta.author" />
  <input placeholder="Body" data-ng-model = "indexVm.newInsta.body" />
  <button type="submit">Create</button>

</form>

<div data-ng-repeat="insta in indexVm.instas">
  <p><a data-ui-sref="instaShow({id: insta.id})">{{insta.photo_url}}</a></p>
</div>
