<h1>Insta Show</h1>
<h2>{{showVm.insta.photo_url}}</h2>

Author: <p>{{showVm.insta.author}}</p>
<img data-ng-src="{{showVm.insta.photoUrl}}"></img>

<p>{{showVm.insta.content}}</p>

<button data-ng-hide="editInsta" data-ng-click="editInsta = !editInsta">Edit Insta</button>
<form data-ng-show="editInsta">
  <input value="showVm.insta.photo_url" data-ng-model="showVm.insta.photo_url" />
  <input value="showVm.insta.author" data-ng-model="showVm.insta.author" />
  <input value="showVm.insta.body" data-ng-model="showVm.insta.body" />
  <button class="update" data-ng-click="showVm.update(); editInsta = !editInsta">Save</button>
  <button data-ng-click='editInsta = !editInsta' class='cancel'>Cancel</button>
  <button class="delete" data-ui-sref="instaIndex" data-ng-click="showVm.delete()">Delete</button>
</form>
